* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.section-container {
  display: flex;
  flex-direction: column;
}

.video-section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-section {
  height: 100vh;
  width: 100vw;
  background-color: 121212;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.brotherhood-title {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.carousel-body {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  width: max-content;
  padding: 0 2vw;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow-x: visible;
  overflow-y: hidden;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  
  opacity: 0;
  animation: fadeInSlideUp 0.8s ease-out forwards;
}

.image-track > .img {
  width: 44vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center center;
  
  opacity: 0;
  animation: fadeInSlideUp 0.8s ease-out forwards;
  animation-delay: calc(var(--img-index, 0) * 0.1s);
}

.image-track::after {
  content: '';
  display: block;
  width: calc(50vw - 20vmin);
  height: 1px;
  flex-shrink: 0;
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}