.careersmainTitleSection {
  width: 100%;
  padding: 50px 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.careersmainTitle {
  font-size: 65px;
  font-family: 'Greek Font', sans-serif;
  color: black;
  text-align: center;
  margin: 0;
}

.careersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.careerstitleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); /* Optional: Adds a dark overlay for better text visibility */
}

.careersContent {
  position: relative;
  z-index: 2;
}

.careersTitle {
  font-family: 'Greek Font', sans-serif;
  font-size: 72px;
  margin: 0;
  letter-spacing: 5px;
}

.careers-subtitle1 {
  font-family: 'Greek Font', sans-serif;
  font-size: 24px;
  margin: 0;
}

.careers-section {
  font-family: 'Greek Font', sans-serif;
  font-size: 24px;
  margin: 0;
  background: white;
}

.table {
  margin: 5rem auto;
  border-radius: 2rem;
  border: 1rem hidden blue;
  border-collapse: collapse;
  box-shadow:rgba(0, 0, 0, 0.6)
}

.thead {
  font-size: 10px;
  background-color: blue;
  color: white;
}

.th, .td {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.td {
  font-size: 1.5rem;
}