.tabs {
    display: flex;
    justify-content: center;
  }
  
  .years {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border: 1px solid #ccc; 
    border-radius: 50px;
    overflow: hidden;
  }
  
  .years li {
    display: inline-block;
    font-family: sans-serif;
    color: #363636;
    font-size: 16px;
    padding: 16px 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s;
    border-right: 1px solid #ccc; 

  }
  
  .years li.is-active {
    background-color: #3273dc; 
    color: white; 
    border-color: #3273dc;
  }
  
  .tabs .years li:hover {
    background-color: #f1f1f1; 
    border-color: #aaa; 
  }

  .years li:last-child {
    border-right: none;
  }

  .careers-container {
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
  }

  .careers-table {
    width: 100%;
    table-layout: fixed;
  }
  
  .careers-table th, .careers-table td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
  }
  
.careers-table tbody tr {
  border-bottom: 1px solid #ccc;
}

.careers-table tbody .subtitle.has-text-weight-semibold {
  text-decoration: none !important; 
}


  .subtitle {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    font-size: 22px;
    color: #363636
  }

  
.careers-table td:nth-child(1),
.careers-table td:nth-child(2), 
.careers-table td:nth-child(3)  {
    max-width: 150px;
    white-space: wrap;
}

.careers-container {
    max-width: 100%;
}
