.tabs {
    margin: 20px 0;
  }
  
  .years {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .years li {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .years li.is-active a {
    background-color: #3273dc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .careers-container {
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
  }

  .careers-table {
    width: 100%;
    table-layout: fixed;
  }
  
  .careers-table th, .careers-table td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
  }
  
  .subtitle {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    font-size: 22px;
    color: #363636
  }

  
.careers-table td:nth-child(1),
.careers-table td:nth-child(2), 
.careers-table td:nth-child(3)  {
    max-width: 150px;
    white-space: wrap;
}

.careers-container {
    max-width: 100%;
}
