.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind other content */
  }
  
  .background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video covers the entire container */
  }


  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 75px;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
  }
  
  .hero-title {
    font-family: 'Greek Font', sans-serif;
    font-size: 72px;
    margin: 0;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 20px;
    color: transparent; /* Makes the text color transparent */
    background: linear-gradient(45deg, #79ff89, #d981ff, #7bcaff, #ffc0c0);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text; /* Ensures compatibility with WebKit browsers */
    animation: gradient-animation 15s infinite; /* Slow gradient animation */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
  .hero-subtitle {
    font-family: 'Greek Font', sans-serif;
    font-size: 24px;
    margin: 0;
  }
  
  .info-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: white;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #ffffff;
    background-color: black;
  }
  
  .info-section h2 {
    font-size: 28px;
    margin-bottom: 33px;
    
  }
  
  .info-section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .info-image {
    width: 25%;
    height: auto;
  }

  /* .volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.volume-slider:hover {
  opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  transition: background .2s;
}

.volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  transition: background .2s;
}

.volume-slider::-webkit-slider-thumb:hover,
.volume-slider::-moz-range-thumb:hover {
  background: #45a049;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.volume-icon {
  font-size: 20px;
  color: #4CAF50;
} */