.pageContainer {
  padding-top: 80px;
  background-size: cover;
  background-position: center;
  background-color: #121212;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contentWrapper {
  flex: 1;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

.view-buttons {
  margin-top: 1.5rem;
}

.meet-us-header {
  font-family: 'Greek Font', sans-serif;
  user-select: none;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0.3rem;
  font-weight: bold;
  padding: 1rem;
  color: transparent;
  background: linear-gradient(45deg, #97ffa3, #ff819e, #7bcaff, #ffc0c0);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 
    2px 2px 0px black,
    4px 4px 0px rgb(211, 211, 252);
  animation: gradient-animation 15s infinite;
}
