.pageContainer {
  padding-top: 80px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: #121212;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contentWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.view-buttons {
  margin-top: 1.5rem;
}

.meet-us-header {
  width: 100%;
  margin: 2rem 0rem;
  text-align: center;
}
