.pageContainer {
  padding-top: 80px;
  background-size: cover;
  background-position: center;
  height: auto; /* or remove this line */
  min-height: 100vh; /* Keeps the minimum height but allows overflow */
  background-color: #121212; /* Fixed missing '#' for hex color */
  color: aliceblue;
  overflow-y: auto; /* Allows vertical scrolling */
}
