body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.recruitmentContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}



.recruitmentContainer::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../Assets/Frames/FALL\ RUSH\ 24\ GRAPHIC\ DESIGN.webp');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@media (max-width: 768px) {
  .recruitmentContainer::before{
    background-image: url('../Assets/Frames/FALL\ RUSH\ 24\ SHIRT\ DESIGN.jpeg');
  }

  
}

.viewport {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0rem 2rem;
  position: relative;
}

.viewport::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.hero-recruitment-Section {
  text-align: center;
  border-radius: 10px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

@import url('https://fonts.cdnfonts.com/css/dune-rise');

.main-recruitment-Title {
  font-family: 'Dune Rise', sans-serif;
  background: linear-gradient(
    45deg,
    rgba(50, 30, 20, 1) 0%,
    rgba(40, 25, 15, 1) 25%,
    rgba(30, 20, 10, 1) 50%,
    rgba(40, 25, 15, 1) 75%,
    rgba(50, 30, 20, 1) 100%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 6rem;
  margin-bottom: 1rem;
  animation: glowAnimation 7s ease-in-out;
}

@keyframes glowAnimation {
  0% {
    text-shadow: 0 0 0.5rem rgba(20, 10, 0, 0.7), 0 0 1.5rem rgba(50, 30, 0, 0.5), 0 0 2rem rgba(30, 15, 0, 0.3);
  }
  50% {
    text-shadow: 0 0 1.5rem rgba(30, 15, 0, 0.9), 0 0 2rem rgba(60, 40, 0, 0.7), 0 0 3rem rgba(60, 40, 0, 0.5);
  }
  0% {
    text-shadow: 0 0 0.5rem rgba(20, 10, 0, 0.7), 0 0 1.5rem rgba(50, 30, 0, 0.5), 0 0 2rem rgba(30, 15, 0, 0.3);
  }
}

.subTitle {
  font-family: 'Dune Rise', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.eventSection {
  text-align: center;
  max-width: 600px;
}

.eventSection h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.eventSection p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*Adjust css for mobile displays as well*/
@media (max-width: 768px) {
  .main-recruitment-Title {
    font-size: 4rem;
    color: rgba(150, 130, 110, 0.9);
    animation: glowAnimationMobile 7s ease-in-out;
  }

  .subTitle {
    font-size: 1.5rem;
    color: rgba(150, 130, 110, 0.9);
  }

  .eventSection h2 {
    font-size: 2rem;
    color: rgba(150, 130, 110, 0.9);
  }

  .eventSection p {
    font-size: 1rem;
    color: rgba(150, 130, 110, 0.9);
  }
}

@keyframes glowAnimationMobile {
  0% {
    text-shadow: 0 0 0.5rem rgba(90, 70, 50, 0.7), 0 0 1.5rem rgba(120, 100, 80, 0.5), 0 0 2rem rgba(100, 80, 60, 0.3);
  }
  50% {
    text-shadow: 0 0 1.5rem rgba(100, 80, 60, 0.9), 0 0 2rem rgba(140, 120, 100, 0.7), 0 0 3rem rgba(140, 120, 100, 0.5);
  }
  100% {
    text-shadow: 0 0 0.5rem rgba(90, 70, 50, 0.7), 0 0 1.5rem rgba(120, 100, 80, 0.5), 0 0 2rem rgba(100, 80, 60, 0.3);
  }
}